In [271]:
vat = {'A':0.23,'B':0.08, 'C': 0.05, 'D': 0}

1.

In [272]:
lista_zakupow=[('Mleko św 3.2 1l',3,2.19,"C"),('Woda mineralna',6,1.69,"A"),
               ('Kakao 400g',2,8.55,"A"),('Mleko św 3.2 1l',1,2.19,"C"),
               ('Mleko św 3.2 1l',2,2.19,"C"),('Cieszynskie Psz',1,4.99,"A"),
               ('Ser krolewski',1,4.69,"C"),('Banan Luz',1.042,4.85,"C"),
               ('Ogórek szkl',0.551,6.99,"C"),('Musli',1,7.99,"C"),
               ('Torba',2,0.49,"A"),('Musli',1,7.99,"C"),
               ('Utopijna mrzonka',1,6.66,"D")]

nowa_lista =[]

for rzecz in lista_zakupow:
    te_same = list(filter(lambda x:rzecz[0] in x, lista_zakupow)) 
    ile = 0
    for zakup in te_same:
        ile += zakup[1]
    y = list(zakup)
    y[1] = ile
    nowa_lista.append(tuple(y))
nowa_lista = list(dict.fromkeys(nowa_lista))

# funkcja filter daje nam wszystkie elementy listy które spełniają 
# jakiś warunek, w tym przypadku daje nam wszystkie krotki z 
# listy_zakupow które zawierają ten sam towar (rzecz[0])

# funkcja dict.fromkeys() usuwa wszstkie elementy w listy które się powtarzają
# w tym wypadku są to krotki z mlekiem i musli które są tam 
# odpowiednio 3 i 2 razy

2.

In [273]:
wyniki={}
cenaA, cenaB, cenaC, cenaD = 0, 0, 0, 0
for rzecz in nowa_lista:
    brutto = round(rzecz[1]*rzecz[2],2)
    if rzecz[3] == 'A':
        cenaA +=brutto
    elif rzecz[3] == 'B':
        cenaB +=brutto
    elif rzecz[3] == 'C':
        cenaC +=brutto
    else:
        cenaD +=brutto
cena = cenaA +cenaB+cenaC+cenaD
wyniki['A'] = (cenaA,vat['A']*cenaA)
wyniki['B'] = (cenaB,vat['B']*cenaB)
wyniki['C'] = (cenaC,vat['C']*cenaC)
wyniki['D'] = (cenaD,vat['D']*cenaD)
podatek = sum([round(num, 2) for num in 
               list(x[1] for x in wyniki.values())])

3.

In [274]:
tytul = '{:^{n}}'.format('PARAGON FISKALNY',n=50)
dziel = '-'*50
suma_brutto = 'Suma PTU{:>{n}.2f} zł'.format(cena,n=39)
suma_podatkow = 'SUMA PTU{:>{n}.2f} zł'.format(podatek,n=39)

print(tytul)
for rzecz in nowa_lista:
    cena = f'{rzecz[1]}x'+'{:.2f}'.format(rzecz[2])
    co = f'{rzecz[0]}'+'{: >{n}} zł   '.format(cena,n= 
            43-len(rzecz[0]))+f'{rzecz[3]}'
    print(co)
print(dziel)
for litera in vat.keys():
    if wyniki[litera][1]!=0:
        sp = f'Sp. op. {litera}' 
        ptu = '{:>{n}.2f} PTU'.format(wyniki[litera][0],n=17) 
        proc = '{:>{n}}%'.format(str(int((vat[litera])*100)),n=6) 
        zl = '{:>{n}.2f} zł'.format(wyniki[litera][1],n=10)
        print(sp+ptu+proc+zl)
    else:
        continue
print(suma_podatkow)
print(dziel)
print(suma_brutto)

                 PARAGON FISKALNY
Mleko św 3.2 1l                      6x2.19 zł   C
Woda mineralna                       6x1.69 zł   A
Kakao 400g                           2x8.55 zł   A
Cieszynskie Psz                      1x4.99 zł   A
Ser krolewski                        1x4.69 zł   C
Banan Luz                        1.042x4.85 zł   C
Ogórek szkl                      0.551x6.99 zł   C
Musli                                2x7.99 zł   C
Torba                                2x0.49 zł   A
Utopijna mrzonka                     1x6.66 zł   D
--------------------------------------------------
Sp. op. A            33.21 PTU    23%      7.64 zł
Sp. op. C            42.71 PTU     5%      2.14 zł
SUMA PTU                                   9.78 zł
--------------------------------------------------
Suma PTU                                  82.58 zł